@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@source "../.svelte-kit/";

html,
body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html {
  background-color: aliceblue;
  font-family: 'Rubik', 'Ubuntu', sans-serif;
  font-optical-sizing: auto;
  min-height: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.overflow-scroll-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.overflow-scroll-hidden {
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
